@font-face {
  font-family: 'superstar_m54regular';
  src: url('../fonts/superstar_m54-webfont.woff2') format('woff2'),
    url('../fonts/superstar_m54-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #333333;
  text-align: center;
  font-family: 'EB Garamond', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

#game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-self: center;

  height: 70vh;
  width: 100vw;
}

#preload-images {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

#pause, #replay {
  border-radius: 50%;
  border: 4px solid #cc0000;
  height: 5vh;
  width: 5vh;
  color: #000000;
  background-color: #FFFFFF;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#pause > img {
  height: 2vh;
  width: 2vh;
}

#replay > img {
  height: 3vh;
  width: 3vh;
}

#pause {
  display: none;
}

#replay {
  display: none;
}

#pause:hover, #replay:hover {
  background-color: #ececec;
}

header > div {
  width: 10vw;
}

h1 {
  color: #ffffff;
  font-size: 5vh;
  text-decoration: underline;
  text-decoration-color: #cc0000;
}

.card {
  background-color: #000000;
  border: 5px solid #cc0000;
  height: 11vh;
  width: 8vh;
  border-radius: 5%;
  background-size: cover;
}

.card:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

.flipped {
  background-color: #ffffff;
  border: 5px solid #cc0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipped:hover {
  background-color: #ffffff;
  cursor: none;
}

img {
  width: 80%;
}

footer {
  border: 4px solid white;
  background-color: black;
  height: 19vh;
  width: 99vw;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > p {
  font-family: 'superstar_m54regular', serif;
  font-size: 12vw;
  max-width: 100%;
  color: #ffffff;
  text-decoration: none;
  text-shadow: -3px -3px 0 #cc0000, 3px -3px 0 #cc0000, -3px 3px 0 #cc0000,
    3px 3px 0 #cc0000;
}
