@font-face {
  font-family: 'itc_lubalin_graphdemi';
  src: url('../fonts/itc_lubalin_graph_demi_regular-webfont.woff2')
      format('woff2'),
    url('../fonts/itc_lubalin_graph_demi_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #333333;
  text-align: center;
  font-family: 'EB Garamond', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  height: 10vh;
}

#game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-self: center;

  height: 70vh;
  width: 100vw;
}

#preload-images {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-size: 5vh;
  text-decoration: underline;
  text-decoration-color: #cc0000;
}

.card {
  background-color: #000000;
  border: 5px solid #cc0000;
  height: 13vh;
  width: 9vh;
  border-radius: 5%;
  background-size: cover;
}

.card:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

.flipped {
  background-color: #ffffff;
  border: 5px solid #cc0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipped:hover {
  background-color: #ffffff;
  cursor: none;
}

img {
  width: 80%;
}

footer {
  border: 4px solid white;
  background-color: black;
  height: 19vh;
  width: 100vw;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > p {
  font-family: 'itc_lubalin_graphdemi', serif;
  font-size: 18vh;
  color: #cc0000;
  text-decoration: none;
  text-shadow:
    -2px -2px 0 #ffffff,  
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;
}

a {
  text-decoration: none;
}